In [2]:
import pandas as pd
import numpy as np
import janitor

In [4]:
df_path = ("../data/raw/")

In [3]:
df_player_stats = pd.read_csv(df_path + "df_player_stats.csv")

In [4]:
df_nba_teams = pd.read_csv(df_path + "df_nba_teams.csv")

In [5]:
# we need to join player rating by name
df_nba_players = pd.read_csv("../data/raw/df_nba_players.csv")
# df_nba_players.head()

df_nba_players = df_nba_players.loc[:, ['id', 'full_name']]
df = pd.merge(df_player_stats, df_nba_players, how = "left", left_on = "PLAYER_ID", right_on = "id")

In [6]:
np.sort(df_nba_teams['abbreviation'].unique())

array(['ATL', 'BKN', 'BOS', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET',
       'GSW', 'HOU', 'IND', 'LAC', 'LAL', 'MEM', 'MIA', 'MIL', 'MIN',
       'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS',
       'TOR', 'UTA', 'WAS'], dtype=object)

In [7]:
np.sort(df['TEAM_ABBREVIATION'].unique())

array(['ATL', 'BKN', 'BOS', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET',
       'GSW', 'HOU', 'IND', 'LAC', 'LAL', 'MEM', 'MIA', 'MIL', 'MIN',
       'NJN', 'NOH', 'NOK', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX',
       'POR', 'SAC', 'SAS', 'SEA', 'TOR', 'TOT', 'UTA', 'WAS'],
      dtype=object)

In [8]:
set.difference(set(df['TEAM_ABBREVIATION'].unique()), set(df_nba_teams['abbreviation'].unique()))

{'NJN', 'NOH', 'NOK', 'SEA', 'TOT'}

NJN stands for New Jerseys Nets (Brooklyn Nets)

NOH stands for New Orleans Hornets (New Orleans Pelicans)

NOK stands for New Orleans/Oklahoma City Hornets (New Orleans Pelicans)

SEA stands for Seattle SuperSonics (Oklahoma City Thunder)

TOT stands for Two Other Teams

In [9]:
nba_teams_dict = {"NJN": "BKN",
                  "NOH": "NOP",
                  "NOK": "NOP",
                  "SEA": "OKC"}

In [10]:
df = df.replace({'TEAM_ABBREVIATION': nba_teams_dict})

In [11]:
# remove TOT
df = df[df['TEAM_ABBREVIATION'] != "TOT"]

In [12]:
df.groupby(['full_name', 'SEASON_ID', 'PLAYER_AGE']).sum()

                                      PLAYER_ID  LEAGUE_ID     TEAM_ID  GP  \
full_name       SEASON_ID PLAYER_AGE
Aaron Gordon    2014-15   19.0           203932          0  1610612753  47
                2015-16   20.0           203932          0  1610612753  78
                2016-17   21.0           203932          0  1610612753  80
                2017-18   22.0           203932          0  1610612753  58
                2018-19   23.0           203932          0  1610612753  78
...                                         ...        ...         ...  ..
Zeke Nnaji      2021-22   21.0          1630192          0  1610612743  22
Ziaire Williams 2021-22   20.0          1630533          0  1610612763  23
Zion Williamson 2019-20   19.0          1629627          0  1610612740  24
                2020-21   20.0          1629627          0  1610612740  61
Zylan Cheatham  2019-20   24.0          1629597          0  1610612740   4

                                      GS     MIN  FGM   FGA  FG_PCT  FG3M  \
full_name       SEASON_ID PLAYER_AGE
Aaron Gordon    2014-15   19.0         8   797.0   93   208   0.447    13
                2015-16   20.0        37  1863.0  274   579   0.473    42
                2016-17   21.0        72  2298.0  393   865   0.454    77
                2017-18   22.0        57  1909.0  375   865   0.434   115
                2018-19   23.0        78  2633.0  470  1046   0.449   121
...                                   ..     ...  ...   ...     ...   ...
Zeke Nnaji      2021-22   21.0         0   326.0   43    93   0.462    20
Ziaire Williams 2021-22   20.0         2   424.0   51   129   0.395    22
Zion Williamson 2019-20   19.0        24   668.0  210   360   0.583     6
                2020-21   20.0        61  2026.0  634  1037   0.611    10
Zylan Cheatham  2019-20   24.0         0    51.0    6     9   0.667     0

                                      ...  OREB  DREB  REB  AST  STL  BLK  \
full_name       SEASON_ID PLAYER_AGE  ...
Aaron Gordon    2014-15   19.0        ...    46   123  169   33   21   22
                2015-16   20.0        ...   154   353  507  128   59   55
                2016-17   21.0        ...   116   289  405  150   65   40
                2017-18   22.0        ...    87   370  457  136   59   45
                2018-19   23.0        ...   129   445  574  289   57   56
...                                   ...   ...   ...  ...  ...  ...  ...
Zeke Nnaji      2021-22   21.0        ...    23    45   68    8    4    7
Ziaire Williams 2021-22   20.0        ...     6    27   33   17   11    6
Zion Williamson 2019-20   19.0        ...    64    86  150   50   16    9
                2020-21   20.0        ...   167   274  441  226   57   39
Zylan Cheatham  2019-20   24.0        ...     3     6    9    3    1    1

                                      TOV   PF   PTS       id
full_name       SEASON_ID PLAYER_AGE
Aaron Gordon    2014-15   19.0         38   83   243   203932
                2015-16   20.0         66  153   719   203932
                2016-17   21.0         89  172  1019   203932
                2017-18   22.0        107  111  1022   203932
                2018-19   23.0        162  172  1246   203932
...                                   ...  ...   ...      ...
Zeke Nnaji      2021-22   21.0          7   36   126  1630192
Ziaire Williams 2021-22   20.0         13   39   130  1630533
Zion Williamson 2019-20   19.0         59   42   540  1629627
                2020-21   20.0        167  135  1647  1629627
Zylan Cheatham  2019-20   24.0          4   10    12  1629597

[2872 rows x 25 columns]

In [13]:
# some players played in more than one team in season, so 
# groupby their name and season and sum(), actually
# where they played doesnt matter now

df_group = df.groupby(['full_name', 'SEASON_ID', 'PLAYER_AGE']).sum()
df_group = df_group.reset_index()

In [14]:
df_group

,full_name,SEASON_ID,PLAYER_AGE,PLAYER_ID,LEAGUE_ID,TEAM_ID,GP,GS,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,id
0,Aaron Gordon,2014-15,19.0,203932,0,1610612753,47,8,797.0,93,...,46,123,169,33,21,22,38,83,243,203932
1,Aaron Gordon,2015-16,20.0,203932,0,1610612753,78,37,1863.0,274,...,154,353,507,128,59,55,66,153,719,203932
2,Aaron Gordon,2016-17,21.0,203932,0,1610612753,80,72,2298.0,393,...,116,289,405,150,65,40,89,172,1019,203932
3,Aaron Gordon,2017-18,22.0,203932,0,1610612753,58,57,1909.0,375,...,87,370,457,136,59,45,107,111,1022,203932
4,Aaron Gordon,2018-19,23.0,203932,0,1610612753,78,78,2633.0,470,...,129,445,574,289,57,56,162,172,1246,203932
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2867,Zeke Nnaji,2021-22,21.0,1630192,0,1610612743,22,0,326.0,43,...,23,45,68,8,4,7,7,36,126,1630192
2868,Ziaire Williams,2021-22,20.0,1630533,0,1610612763,23,2,424.0,51,...,6,27,33,17,11,6,13,39,130,1630533
2869,Zion Williamson,2019-20,19.0,1629627,0,1610612740,24,24,668.0,210,...,64,86,150,50,16,9,59,42,540,1629627
2870,Zion Williamson,2020-21,20.0,1629627,0,1610612740,61,61,2026.0,634,...,167,274,441,226,57,39,167,135,1647,1629627
2871,Zylan Cheatham,2019-20,24.0,1629597,0,1610612740,4,0,51.0,6,...,3,6,9,3,1,1,4,10,12,1629597

In [15]:
valid_season_list = ["2021-22", "2020-21", "2019-20", "2018-19", "2017-18", "2016-17", "2015-16", 
                     "2014-15", "2013-14", "2012-13", "2011-12", "2010-11", "2009-10"]

df_temp_list = []
columns_filt = ['SEASON_ID', 'full_name']
df_filt = df_group.loc[:, columns_filt]
soma_lista = []

for season in valid_season_list:
    df_left = df_filt[df_filt['SEASON_ID'] == season]
    df_right = pd.read_csv(df_path + "df_player_rating_2k" + season[-2:] + ".csv")
#     print(df_left.shape[0])
    df_left.shape[0]
    df_temp = pd.merge(df_left, df_right, how = "left", left_on = "full_name", right_on = "name")
    df_temp_list.append(df_temp)
# df_temp_list

In [16]:
df_player_rating = pd.concat(df_temp_list).loc[:, ['SEASON_ID', 'full_name', 'rating']]

In [17]:
unvalid_season_list = list(set.difference(set(df_group['SEASON_ID'].unique()),set(valid_season_list)))
df_temp = df_filt[df_filt['SEASON_ID'].isin(unvalid_season_list)]
df_temp.loc[:, 'rating'] = np.NaN

df_temp

/home/taryll/Documents/Projects/data_science/NBA_project/env/lib/python3.8/site-packages/pandas/core/indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

     SEASON_ID       full_name  rating
23     2007-08      Al Horford     NaN
24     2008-09      Al Horford     NaN
94     2004-05  Andre Iguodala     NaN
95     2005-06  Andre Iguodala     NaN
96     2006-07  Andre Iguodala     NaN
...        ...             ...     ...
2762   2004-05   Udonis Haslem     NaN
2763   2005-06   Udonis Haslem     NaN
2764   2006-07   Udonis Haslem     NaN
2765   2007-08   Udonis Haslem     NaN
2766   2008-09   Udonis Haslem     NaN

[80 rows x 3 columns]

In [27]:
df_player_rating = pd.concat([df_player_rating, df_temp])

In [28]:
df_player_rating_stats = pd.merge(df_group, df_player_rating, how = 'inner', 
                                  left_on = ['full_name', 'SEASON_ID'],
                                  right_on = ['full_name', 'SEASON_ID']).drop_duplicates()

In [29]:
# create useful features like ppg, rpg
df_player_rating_stats['PTSPG'] = df_player_rating_stats['PTS'] / df_player_rating_stats['GP']
df_player_rating_stats['REBPG'] = df_player_rating_stats['REB'] / df_player_rating_stats['GP']
df_player_rating_stats['OREBPG'] = df_player_rating_stats['OREB'] / df_player_rating_stats['GP']
df_player_rating_stats['DREBPG'] = df_player_rating_stats['DREB'] / df_player_rating_stats['GP']
df_player_rating_stats['ASTPG'] = df_player_rating_stats['AST'] / df_player_rating_stats['GP']
df_player_rating_stats['STLPG'] = df_player_rating_stats['STL'] / df_player_rating_stats['GP']
df_player_rating_stats['BLKPG'] = df_player_rating_stats['BLK'] / df_player_rating_stats['GP']
df_player_rating_stats['TOVPG'] = df_player_rating_stats['TOV'] / df_player_rating_stats['GP']
df_player_rating_stats['PFPG'] = df_player_rating_stats['PF'] / df_player_rating_stats['GP']
# df_player_stats['RPG'] = df_player_stats['PTS'] / df_player_stats['GP']

In [30]:
# remaking features affected by groupby
df_player_rating_stats['FG_PCT'] = df_player_rating_stats['FGM'] / df_player_rating_stats['FGA']
df_player_rating_stats['FG3_PCT'] = df_player_rating_stats['FG3M'] / df_player_rating_stats['FG3A']
df_player_rating_stats['FT_PCT'] = df_player_rating_stats['FTM'] / df_player_rating_stats['FTA']

In [31]:
df_player_rating_stats.columns

Index(['full_name', 'SEASON_ID', 'PLAYER_AGE', 'PLAYER_ID', 'LEAGUE_ID',
       'TEAM_ID', 'GP', 'GS', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A',
       'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS', 'id', 'rating', 'PTSPG', 'REBPG', 'OREBPG',
       'DREBPG', 'ASTPG', 'STLPG', 'BLKPG', 'TOVPG', 'PFPG'],
      dtype='object')

In [32]:
df_player_rating_stats = df_player_rating_stats.clean_names()

In [33]:
df_path_interim = "../data/interim/"
df_player_rating_stats.to_csv(df_path_interim + "df_player_rating_stats.csv", index = False)

In [190]:
df_path_interim = "../data/interim/"

## NBA GAMES

In [54]:
def create_df_nba_games(df_nba_games):
    # separate between home or away games
    df_nba_games['WHERE'] = df_nba_games.apply(lambda x: "Away" if "@" in x['MATCHUP'] else "Home", axis = 1)

    df_home_games = df_nba_games[df_nba_games['WHERE'] == "Home"]
    df_away_games = df_nba_games[df_nba_games['WHERE'] == "Away"]
    
    nba_columns = df_nba_games.columns.to_list()
    home_columns = list(map(lambda x: "H_" + x, nba_columns))
    away_columns = list(map(lambda x: "A_" + x, nba_columns))
    
    dict_home_columns = dict(zip(nba_columns, home_columns))
    dict_away_columns = dict(zip(nba_columns, away_columns))
    
    df_home_games = df_home_games.rename(columns = dict_home_columns)
    df_away_games = df_away_games.rename(columns = dict_away_columns)
    
#     df_game_merge = pd.merge(df_home_games, df_away_games, how = "inner", left_on = "H_GAME_ID", right_on = "A_GAME_ID")
    
    return df_home_games, df_away_games

In [171]:
df_nba_games = pd.read_csv(df_path + "df_nba_games.csv")

In [172]:
df_home_games, df_away_games = create_df_nba_games(df_nba_games)

In [181]:
df_nba_merg = pd.merge(df_home_games, df_away_games, how = "inner", left_on = "H_GAME_ID", right_on = "A_GAME_ID")

In [182]:
# drop non useful features
drop_columns = ['A_SEASON_ID', 'A_GAME_ID', 'A_GAME_DATE',
                'A_MATCHUP', 'H_WHERE', 'A_WHERE', 'A_MIN']

rename_columns = {'H_GAME_ID': 'GAME_ID', 
                  'H_GAME_DATE': 'GAME_DATE',
                  'H_MATCHUP': 'MATCHUP',
                  'H_MIN': 'MIN'}

df_nba_merg.drop(drop_columns, axis = 1, inplace = True)
df_nba_merg.rename(columns = rename_columns, inplace = True)

### Elo Rating

$ R_0 = 1500 $ start value

$ R_{i+1} = K(S_{team} - E_{team}) + R_i$

$S_{team}$: boolean for win or lose (1 or zero)

Expected win probability:

$E_{team} = \dfrac{1}{1 + 10^{\left(\dfrac{opp\_elo - team\_elo}{400}\right )} }$

$K = 20 \dfrac{\left(MOV_{winner} + 3\right)^{0.8}}{7.5 + 0.006(elo\_difference_{winner})}$

for new season (elo rating carry over from season to season)

$ (R * 0.75) + 0.25*1505$

In [157]:
def s_team(home_score, away_score):
    if home_score > away_score:
        home_s = 1
        away_s = 0
    else:
        home_s = 0
        away_s = 1
    
    return home_s, away_s

def exp_win_prob(opp_elo, team_elo):
    denom = 1 + 10**((opp_elo - team_elo) / 400)
    
    return 1 / denom

def k_fact(mov, elo_diff):
    c = 20

    # means home wins
    if mov > 0 :
        value = ((mov + 3)**(0.8)) / (7.5 + 0.006*(elo_diff))
    # means home loses
    else:
        value = ((-mov + 3)**(0.8)) / (7.5 + 0.006*(-elo_diff))
        
    return c*value

def elo_update(home_elo, away_elo, home_score, away_score, home_court_adv = 100):
    # home advantage
    home_elo += home_court_adv
    
    home_s, away_s = s_team(home_score, away_score)
    
    home_prob = exp_win_prob(away_elo, home_elo)
    away_prob = exp_win_prob(home_elo, away_elo)
    
    k = k_fact(home_score - away_score, home_elo - away_elo)
    
    # home advantage is not for update
    home_elo -= home_court_adv
    home_elo_update = k*(home_s - home_prob) + home_elo
    away_elo_update = k*(away_s - away_prob) + away_elo
    
    return home_elo_update, away_elo_update

def get_prev_elo(df, date, team_id, season, df_elo):
    df_temp = df[df['GAME_DATE'] < date][(df['H_TEAM_ID'] == team_id) | (df['A_TEAM_ID'] == team_id)]
    prev_game = df_temp.sort_values(by = 'GAME_DATE').tail(1).iloc[0]
    
    if team_id == prev_game['H_TEAM_ID']:
        team_elo = df_elo[df_elo['GAME_ID'] == prev_game['GAME_ID']]['H_ELO_AFTER'].values[0]
    else :
        team_elo = df_elo[df_elo['GAME_ID'] == prev_game['GAME_ID']]['A_ELO_AFTER'].values[0]
        
    if prev_game['SEASON_ID'] != season :
        return (0.75 * team_elo) + (0.25 * 1505)
    else :
        return team_elo

In [183]:
filt_columns = ['H_SEASON_ID', 'H_TEAM_ID', 'H_TEAM_NAME', 'A_TEAM_ID', 'A_TEAM_NAME',
                'GAME_ID', 'GAME_DATE', 'H_WL', 'A_WL', 'H_PTS', 'A_PTS']

df_nba_filt = df_nba_merg.loc[:, filt_columns]
df_nba_filt.rename(columns = {'H_GAME_DATE': 'GAME_DATE',
                              'H_GAME_ID': 'GAME_ID',
                              'H_SEASON_ID': 'SEASON_ID'}, 
                   inplace = True)

df_nba_filt.sort_values(by = 'GAME_DATE', inplace = True)
df_nba_filt.reset_index(drop = True, inplace = True)

In [187]:
df_elo = pd.DataFrame(columns = ['GAME_ID', 'H_TEAM_ID', 'A_TEAM_ID',
                                 'H_ELO_BEFORE', 'A_ELO_BEFORE',
                                 'H_ELO_AFTER', 'A_ELO_AFTER'])

df_teams_elo = pd.DataFrame(columns = ['GAME_ID', 'TEAM', 'ELO', 'DATE', 'WHERE_PLAYED', 'SEASON']) 

for index, row in df_nba_filt.iterrows():
    date = row['GAME_DATE']
    game_id = row['GAME_ID']
    season = row['SEASON_ID']
    
    home_team_id, home_score = row['H_TEAM_ID'], row['H_PTS']
    away_team_id, away_score = row['A_TEAM_ID'], row['A_PTS']
    
    if (home_team_id not in df_elo['H_TEAM_ID'].values and home_team_id not in df_elo['A_TEAM_ID'].values):
        home_elo_before = 1500
    else:
        home_elo_before = get_prev_elo(df_nba_filt, date, home_team_id, season, df_elo)

    if (away_team_id not in df_elo['H_TEAM_ID'].values and away_team_id not in df_elo['A_TEAM_ID'].values):
        away_elo_before = 1500
    else:
        away_elo_before = get_prev_elo(df_nba_filt, date, away_team_id, season, df_elo)

    home_elo_after, away_elo_after = elo_update(home_elo_before, away_elo_before,
                                                home_score, away_score, 100)
    
    new_row = {'GAME_ID': game_id,
               'H_TEAM_ID': home_team_id,
               'A_TEAM_ID': away_team_id,
               'H_ELO_BEFORE': home_elo_before,
               'A_ELO_BEFORE': away_elo_before,
               'H_ELO_AFTER': home_elo_after,
               'A_ELO_AFTER': away_elo_after}
    
    teams_row_one = {'GAME_ID': game_id,
                     'TEAM': home_team_id, 
                     'ELO': home_elo_before,
                     'DATE': date,
                     'WHERE_PLAYED': 'Home',
                     'SEASON': season}
    
    teams_row_two = {'GAME_ID': game_id,
                     'TEAM': away_team_id,
                     'ELO': away_elo_before,
                     'DATE': date,
                     'WHERE_PLAYED': 'Away',
                     'SEASON': season}
    
    df_elo = df_elo.append(new_row, ignore_index = True)
    
    df_teams_elo = df_teams_elo.append(teams_row_one, ignore_index=True)
    df_teams_elo = df_teams_elo.append(teams_row_two, ignore_index=True)

/tmp/ipykernel_8767/2725054605.py:47: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_temp = df[df['GAME_DATE'] < date][(df['H_TEAM_ID'] == team_id) | (df['A_TEAM_ID'] == team_id)]

In [188]:
elo_columns = ['GAME_ID', 'H_ELO_BEFORE', 'A_ELO_BEFORE', 'H_ELO_AFTER', 'A_ELO_AFTER']

df_nba_with_elo = pd.merge(df_nba_merg, df_elo.loc[:, elo_columns], how = "left", 
                           left_on = 'GAME_ID', right_on = 'GAME_ID')

In [189]:
df_teams_elo

        GAME_ID        TEAM          ELO        DATE WHERE_PLAYED SEASON
0      20900001  1610612739         1500  2009-10-27         Home  22009
1      20900001  1610612738         1500  2009-10-27         Away  22009
2      20900002  1610612742         1500  2009-10-27         Home  22009
3      20900002  1610612764         1500  2009-10-27         Away  22009
4      20900004  1610612747         1500  2009-10-27         Home  22009
...         ...         ...          ...         ...          ...    ...
29705  22100656  1610612755  1612.336509  2022-01-17         Away  22021
29706  22100655  1610612752  1520.637696  2022-01-17         Home  22021
29707  22100655  1610612766  1515.310577  2022-01-17         Away  22021
29708  22100654  1610612738   1548.25635  2022-01-17         Home  22021
29709  22100654  1610612740  1461.369528  2022-01-17         Away  22021

[29710 rows x 6 columns]

In [191]:
df_nba_with_elo.to_csv(df_path_interim + "df_nba_games_with_elo.csv", index = False)
df_teams_elo.to_csv(df_path_interim + "df_teams_elo.csv", index = False)

In [281]:
df_nba_merg.head()

,H_SEASON_ID,H_TEAM_ID,H_TEAM_ABBREVIATION,H_TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,H_WL,MIN,H_PTS,...,A_FT_PCT,A_OREB,A_DREB,A_REB,A_AST,A_STL,A_BLK,A_TOV,A_PF,A_PLUS_MINUS
0,22021,1610612738,BOS,Boston Celtics,22100654,2022-01-17,BOS vs. NOP,W,241,104,...,0.611,8,33,41,23,10,4,11,15,-12.0
1,22021,1610612752,NYK,New York Knicks,22100655,2022-01-17,NYK vs. CHA,L,242,87,...,0.647,6,33,39,23,6,2,7,14,10.0
2,22021,1610612764,WAS,Washington Wizards,22100656,2022-01-17,WAS vs. PHI,W,241,117,...,0.840,10,32,42,19,9,3,12,26,-19.0
3,22021,1610612739,CLE,Cleveland Cavaliers,22100657,2022-01-17,CLE vs. BKN,W,240,114,...,0.722,8,27,35,27,11,4,14,22,-7.0
4,22021,1610612746,LAC,LA Clippers,22100659,2022-01-17,LAC vs. IND,W,238,139,...,0.870,15,26,41,30,8,4,12,23,-6.0

### Team Performance last n games

In [306]:
def get_avg_stats_last_n_games(df, team_id, date, n):
    df_temp = df[df['GAME_DATE'] < date][(df['H_TEAM_ID'] == team_id) | (df['A_TEAM_ID'] == team_id)]
    prev_game = df_temp.sort_values(by = 'GAME_DATE').tail(n)

    cols = ['TEAM_ID', 'PTS', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A',
            'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
            'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS']
    
    home_cols = ["H_" + x for x in cols]
    away_cols = ["A_" + x for x in cols]
    
    df_home = prev_game.loc[:, home_cols]
    df_away = prev_game.loc[:, away_cols]
    
    df_home.columns = [x[2:] for x in df_home.columns]
    df_away.columns = [x[2:] for x in df_away.columns]
    
    df_team = pd.concat([df_home, df_away])
    df_team = df_team[df_team['TEAM_ID'] == team_id]
    df_team.drop(columns = ['TEAM_ID'], inplace=True)

    return df_team.mean()

In [329]:
season = 22021
df_temp = df_nba_merg[df_nba_merg['H_SEASON_ID'] == season]
df_season_games = df_temp.sort_values(by = 'GAME_DATE').reset_index(drop = True)

df_season_recent_perf = pd.DataFrame()
i = 0
for index, row in df_season_games.iterrows():
    date = row['GAME_DATE']
    game_id = row['GAME_ID']
    home_team_id = row['H_TEAM_ID']
    away_team_id = row['A_TEAM_ID']
    
    h_team_recent_performance = get_avg_stats_last_n_games(df_season_games, home_team_id, date, 10)
    h_team_recent_performance.index = ['H_Last_10_Avg_' + x for x in h_team_recent_performance.index]

    a_team_recent_performance = get_avg_stats_last_n_games(df_season_games, away_team_id, date, 10)
    a_team_recent_performance.index = ['A_Last_10_Avg_' + x for x in a_team_recent_performance.index]

    new_row = pd.concat([h_team_recent_performance, a_team_recent_performance], sort = False)
    new_row['GAME_ID'] = game_id
    
    df_season_recent_perf = df_season_recent_perf.append(new_row, ignore_index = True)
    df_season_recent_perf = df_season_recent_perf[new_row.index]

df_recent_perf = pd.concat([df_recent_perf, df_season_recent_perf])

/tmp/ipykernel_8767/1711784296.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_temp = df[df['GAME_DATE'] < date][(df['H_TEAM_ID'] == team_id) | (df['A_TEAM_ID'] == team_id)]

In [338]:
df_recent_perf = pd.DataFrame()

for season in df_nba_merg['H_SEASON_ID'].unique():
    df_temp = df_nba_merg[df_nba_merg['H_SEASON_ID'] == season]
    df_season_games = df_temp.sort_values(by = 'GAME_DATE').reset_index(drop = True)
    
    df_season_recent_perf = pd.DataFrame()
    
    for index, row in df_season_games.iterrows():
        date = row['GAME_DATE']
        game_id = row['GAME_ID']
        home_team_id = row['H_TEAM_ID']
        away_team_id = row['A_TEAM_ID']
        
        h_team_recent_performance = get_avg_stats_last_n_games(df_season_games, home_team_id, date, 10)
        h_team_recent_performance.index = ['H_Last_10_Avg_' + x for x in h_team_recent_performance.index]

        a_team_recent_performance = get_avg_stats_last_n_games(df_season_games, away_team_id, date, 10)
        a_team_recent_performance.index = ['A_Last_10_Avg_' + x for x in a_team_recent_performance.index]
        
        new_row = pd.concat([h_team_recent_performance, a_team_recent_performance], sort = False)
        new_row['GAME_ID'] = game_id

        df_season_recent_perf = df_season_recent_perf.append(new_row, ignore_index = True)
        df_season_recent_perf = df_season_recent_perf[new_row.index]
    
    df_recent_perf = pd.concat([df_recent_perf, df_season_recent_perf])

/tmp/ipykernel_8767/1711784296.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_temp = df[df['GAME_DATE'] < date][(df['H_TEAM_ID'] == team_id) | (df['A_TEAM_ID'] == team_id)]

In [337]:
# df_recent_perf.tail(20)

In [339]:
df_recent_perf.to_csv(df_path_interim + "df_recent_perf.csv", index = False)

In [340]:
# creating label, where 1 means home team wins, 0 away team wins

df_nba_with_elo['Label'] = [1 if x > 0 else 0 for x in df_nba_with_elo['H_PTS'] - df_nba_with_elo['A_PTS']]

In [341]:
model_columns = ['H_SEASON_ID', 'GAME_ID', 'GAME_DATE', 'MATCHUP',
                'H_TEAM_ID', 'H_TEAM_ABBREVIATION', 'H_TEAM_NAME',
                'A_TEAM_ID', 'A_TEAM_ABBREVIATION', 'A_TEAM_NAME',
                'H_ELO_BEFORE', 'A_ELO_BEFORE', 'H_ELO_AFTER', 'A_ELO_AFTER',
                'Label']

df_model = df_nba_with_elo.loc[:, model_columns]

In [342]:
df_model_temp = df_model.merge(df_recent_perf, how = "inner", left_on = 'GAME_ID', right_on = 'GAME_ID')
df_model_temp.to_csv(df_path_interim + "df_model_temp.csv", index = False)

In [346]:
df_nba_with_elo[df_nba_with_elo['H_SEASON_ID'] == 22021].tail(20)

,H_SEASON_ID,H_TEAM_ID,H_TEAM_ABBREVIATION,H_TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,H_WL,MIN,H_PTS,...,A_STL,A_BLK,A_TOV,A_PF,A_PLUS_MINUS,H_ELO_BEFORE,A_ELO_BEFORE,H_ELO_AFTER,A_ELO_AFTER,Label
637,22021,1610612747,LAL,Los Angeles Lakers,22100025,2021-10-22,LAL vs. PHX,L,241,105,...,8,2,11,22,10.0,1543.070977,1595.664555,1530.821648,1607.913884,0
638,22021,1610612758,SAC,Sacramento Kings,22100026,2021-10-22,SAC vs. UTA,L,241,101,...,14,3,17,17,9.0,1465.292377,1634.254096,1457.874836,1641.671637,0
639,22021,1610612743,DEN,Denver Nuggets,22100024,2021-10-22,DEN vs. SAS,W,240,102,...,11,2,20,17,-6.0,1615.671858,1485.883142,1618.419952,1483.135048,1
640,22021,1610612741,CHI,Chicago Bulls,22100022,2021-10-22,CHI vs. NOP,W,238,128,...,7,5,16,20,-16.0,1502.941956,1466.541992,1510.881961,1458.601987,1
641,22021,1610612744,GSW,Golden State Warriors,22100016,2021-10-21,GSW vs. LAC,W,240,115,...,9,2,7,25,3.0,1550.400332,1590.422415,1554.222846,1586.599902,1
642,22021,1610612748,MIA,Miami Heat,22100015,2021-10-21,MIA vs. MIL,W,238,137,...,6,0,15,26,-42.0,1547.451658,1605.058703,1571.264327,1581.246034,1
643,22021,1610612737,ATL,Atlanta Hawks,22100014,2021-10-21,ATL vs. DAL,W,242,113,...,7,3,15,21,-26.0,1552.038315,1553.779567,1565.282622,1540.535260,1
644,22021,1610612762,UTA,Utah Jazz,22100011,2021-10-20,UTA vs. OKC,W,240,107,...,4,2,14,15,-21.0,1632.199698,1310.412382,1634.254096,1308.357984,1
645,22021,1610612757,POR,Portland Trail Blazers,22100013,2021-10-20,POR vs. SAC,L,240,121,...,6,4,10,22,3.0,1590.567044,1454.321445,1579.596112,1465.292377,0
646,22021,1610612756,PHX,Phoenix Suns,22100012,2021-10-20,PHX vs. DEN,L,240,98,...,9,1,17,20,12.0,1612.509958,1598.826455,1595.664555,1615.671858,0
647,22021,1610612759,SAS,San Antonio Spurs,22100010,2021-10-20,SAS vs. ORL,W,239,123,...,6,6,16,20,-26.0,1479.535690,1330.969921,1485.883142,1324.622469,1
648,22021,1610612752,NYK,New York Knicks,22100005,2021-10-20,NYK vs. BOS,W,288,138,...,13,9,18,24,-4.0,1575.634290,1506.409853,1578.687434,1503.356708,1
649,22021,1610612750,MIN,Minnesota Timberwolves,22100008,2021-10-20,MIN vs. HOU,W,242,124,...,13,3,24,25,-18.0,1439.314697,1345.688089,1445.829780,1339.173006,1
650,22021,1610612763,MEM,Memphis Grizzlies,22100007,2021-10-20,MEM vs. CLE,W,242,132,...,6,5,10,17,-11.0,1545.507672,1352.887909,1548.300567,1350.095014,1
651,22021,1610612740,NOP,New Orleans Pelicans,22100009,2021-10-20,NOP vs. PHI,L,240,97,...,9,5,12,11,20.0,1482.069363,1596.393803,1466.541992,1611.921173,0
652,22021,1610612761,TOR,Toronto Raptors,22100006,2021-10-20,TOR vs. WAS,L,240,83,...,14,8,21,17,15.0,1448.925656,1509.614020,1433.458879,1525.080797,0
653,22021,1610612766,CHA,Charlotte Hornets,22100003,2021-10-20,CHA vs. IND,W,239,123,...,2,10,16,24,-1.0,1446.062159,1491.373799,1449.330079,1488.105879,1
654,22021,1610612765,DET,Detroit Pistons,22100004,2021-10-20,DET vs. CHI,L,241,88,...,8,5,17,19,6.0,1381.721886,1495.599447,1374.379378,1502.941956,0
655,22021,1610612747,LAL,Los Angeles Lakers,22100002,2021-10-19,LAL vs. GSW,L,241,114,...,9,2,17,18,7.0,1555.374709,1538.096600,1543.070977,1550.400332,0
656,22021,1610612749,MIL,Milwaukee Bucks,22100001,2021-10-19,MIL vs. BKN,W,239,127,...,3,9,12,17,-23.0,1593.281092,1588.258954,1605.058703,1576.481343,1

In [343]:
df_model_temp[df_model_temp['H_SEASON_ID'] == 22021].tail(20)

,H_SEASON_ID,GAME_ID,GAME_DATE,MATCHUP,H_TEAM_ID,H_TEAM_ABBREVIATION,H_TEAM_NAME,A_TEAM_ID,A_TEAM_ABBREVIATION,A_TEAM_NAME,...,A_Last_10_Avg_FT_PCT,A_Last_10_Avg_OREB,A_Last_10_Avg_DREB,A_Last_10_Avg_REB,A_Last_10_Avg_AST,A_Last_10_Avg_STL,A_Last_10_Avg_BLK,A_Last_10_Avg_TOV,A_Last_10_Avg_PF,A_Last_10_Avg_PLUS_MINUS
637,22021,22100025,2021-10-22,LAL vs. PHX,1610612747,LAL,Los Angeles Lakers,1610612756,PHX,Phoenix Suns,...,0.706,11.0,34.0,45.0,23.0,9.0,3.0,18.0,18.0,-12.0
638,22021,22100026,2021-10-22,SAC vs. UTA,1610612758,SAC,Sacramento Kings,1610612762,UTA,Utah Jazz,...,0.867,12.0,41.0,53.0,18.0,6.0,5.0,10.0,19.0,21.0
639,22021,22100024,2021-10-22,DEN vs. SAS,1610612743,DEN,Denver Nuggets,1610612759,SAS,San Antonio Spurs,...,0.667,13.0,30.0,43.0,32.0,8.0,3.0,8.0,22.0,26.0
640,22021,22100022,2021-10-22,CHI vs. NOP,1610612741,CHI,Chicago Bulls,1610612740,NOP,New Orleans Pelicans,...,0.667,10.0,34.0,44.0,28.0,5.0,6.0,13.0,16.0,-20.0
641,22021,22100016,2021-10-21,GSW vs. LAC,1610612744,GSW,Golden State Warriors,1610612746,LAC,LA Clippers,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
642,22021,22100015,2021-10-21,MIA vs. MIL,1610612748,MIA,Miami Heat,1610612749,MIL,Milwaukee Bucks,...,0.778,13.0,41.0,54.0,25.0,8.0,9.0,7.0,19.0,23.0
643,22021,22100014,2021-10-21,ATL vs. DAL,1610612737,ATL,Atlanta Hawks,1610612742,DAL,Dallas Mavericks,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
644,22021,22100011,2021-10-20,UTA vs. OKC,1610612762,UTA,Utah Jazz,1610612760,OKC,Oklahoma City Thunder,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
645,22021,22100013,2021-10-20,POR vs. SAC,1610612757,POR,Portland Trail Blazers,1610612758,SAC,Sacramento Kings,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
646,22021,22100012,2021-10-20,PHX vs. DEN,1610612756,PHX,Phoenix Suns,1610612743,DEN,Denver Nuggets,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
647,22021,22100010,2021-10-20,SAS vs. ORL,1610612759,SAS,San Antonio Spurs,1610612753,ORL,Orlando Magic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
648,22021,22100005,2021-10-20,NYK vs. BOS,1610612752,NYK,New York Knicks,1610612738,BOS,Boston Celtics,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
649,22021,22100008,2021-10-20,MIN vs. HOU,1610612750,MIN,Minnesota Timberwolves,1610612745,HOU,Houston Rockets,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
650,22021,22100007,2021-10-20,MEM vs. CLE,1610612763,MEM,Memphis Grizzlies,1610612739,CLE,Cleveland Cavaliers,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
651,22021,22100009,2021-10-20,NOP vs. PHI,1610612740,NOP,New Orleans Pelicans,1610612755,PHI,Philadelphia 76ers,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
652,22021,22100006,2021-10-20,TOR vs. WAS,1610612761,TOR,Toronto Raptors,1610612764,WAS,Washington Wizards,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
653,22021,22100003,2021-10-20,CHA vs. IND,1610612766,CHA,Charlotte Hornets,1610612754,IND,Indiana Pacers,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
654,22021,22100004,2021-10-20,DET vs. CHI,1610612765,DET,Detroit Pistons,1610612741,CHI,Chicago Bulls,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
655,22021,22100002,2021-10-19,LAL vs. GSW,1610612747,LAL,Los Angeles Lakers,1610612744,GSW,Golden State Warriors,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656,22021,22100001,2021-10-19,MIL vs. BKN,1610612749,MIL,Milwaukee Bucks,1610612751,BKN,Brooklyn Nets,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN